html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #757575;
  --primary-bg-color: #f5f4fa;
  --medium-bg-color: #e5e5e5;
  --dark-bg-color: #2f303a;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
}

/* основной цвет текста #212121 */
/* цвет вторичного текста #757575  */
/* цвет акцента #2196F3 */
/* темный цвет фона #2F303A */
/* светлый цвет фона #E5E5E5 */
/* средний цвет фона #F5F4FA */
/* белый цвет #FFFFFF */
/* белый прозрачный rgba(255, 255, 255, 0.6 */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  margin: 0;
}

/* шапка сайта */
.flex {
  display: flex;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* "Тегу img задайте свойство display: block" Если я правильно понял что Вы имели ввиду */
img {
  display: block;
}

.header {
  display: flex;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}

.nav-logo {
  color: var(--primary-text-color);
}

.nav-site > a {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header a {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
}

.nav-site,
.contacts {
  /* outline: 1px solid tomato; */
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-site-link {
  /* background-color: tomato; */
  margin-right: 50px;
}

.nav-site-link:last-child,
.contacts-item:last-child {
  margin-right: 0;
}

.block-contacts {
  margin-left: auto;
}

.contacts-item {
  /* background-color: teal; */
  margin-right: 50px;
  display: inline-flex;
  align-items: center;
}

.contacts-item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.envelope::before {
  width: 16px;
  height: 12px;
  background-image: url(../img/envelope.svg);
}

.mobile::before {
  background-image: url(../img/smartphone.svg);
  width: 10px;
  height: 16px;
}


.block-links {
  margin-left: 93px;
}

.nav-site .link.current {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.contacts {
  color: var(--second-text-color);
}

.header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* футер */

footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);
  color: var(--white-color);
}

address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress-item:not(:first-child) {
  display: block;
  margin-top: 9px;
}

.adress-contacts {
  margin-top: 9px;
}

.adress-conrainer {
  margin-top: 9px;
}

footer a {
  text-decoration: none;
}

.footer-logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  color: var(--accent-color);
}

address a {
  color: var(--transparent-color);
}

address a:hover,
address a:focus {
  color: var(--accent-color);
}

/* заказ услуги */
.background {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;  
  margin-right: auto;
  
  background-image: url(../img/herobackground.jpg);
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;
}

.service-container {
  margin-top: 0;
  padding-bottom: 200px;
  padding-top: 200px;

  /* background-color: var(--dark-bg-color); */
  text-align: center;
}




.service-title {
  margin: 0;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Soft skills */

.softskills {
  padding-top: 94px;
}

.softskill-item {
  width: calc((100% - 90px) / 4);
  text-align: left;
}

.softskill-item:not(:last-child) {
  margin-right: 30px;
}

.softskills-titles {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.softskills-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--second-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.softskill-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.antenna::before {
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/clock.svg);
}

.diagram::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/diagram.svg);
}

.astronaut::before {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/astronaut.svg);
}

/* Чем мы занимаемся */

.activity-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.activity-container-item {
  width: calc((100% - 60px) / 3);
}

.activity-container-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team-img {
  margin-top: 50px;
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  /* outline: 1px solid tomato; */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.team-members {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.specialty {
  margin: 0;
  margin-top: 10px;

  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.social-links {
  
  display: flex;
  justify-content: center;
  margin-top: 16px;
  
  
}

.item-link {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  

  color: var(--color4, #afb1b8);
}

.social-links-icon {
  display: block;
  align-items: center;
  fill: currentColor;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.item-link:hover {
  color: #ffffff;
}

.item-link:hover,
.item-link:focus {
  
  background-color: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}


/* стили кнопок */
.button {
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  align-items: center;
  text-align: center;

  display: inline-block;
}

.first {
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.second {
  padding: 6px 22px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.second:hover,
.button.second:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.first:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

/* список предложений */
.offers-btn {
  justify-content: center;
}

.offers-btn-item:not(:last-child) {
  margin-right: 8px;
}

.offers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.offers-text {
  /* задал отдельно ширину этому контейнеру т.к. она почему-то тут была 368px
  это было заметно при фокусе */
  width: 370px;
  padding: 20px 24px;
}

.offers h2 {
  margin: 0;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.offers p {
  margin: 0;
  margin-top: 4px;

  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.offers a {
  text-decoration: none;
}

.offers-page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.offers-page-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  text-align: left;
  border: 1px solid #eeeeee;
}

.offers-page-element:nth-child(3n) {
  margin-right: 0;
}

.offers-page-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-item-link {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color4, #afb1b8);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item-link:hover,
.clients-item-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-icon {
  display: block;
  fill: currentColor;
}


/* контейнер для размера блоков */

.container {
  /* outline: 1px solid tomato; */

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

test commit